html {
	color: #fff;
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0 auto;
	max-width: 1120px;
	background: rgb(10,81,212);
	background: linear-gradient(-30deg, rgba(10,81,212,1) 64%, rgba(2,2,2,1) 97%);
	background-size: 120% 120%;
}

.cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 15px;
}

.cabecalho .logo {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border: 2px solid #fff;
	text-decoration: underline;
	text-align: center;
	line-height: 55px;
	font-family: "Raleway", sans-serif;
	transition: 0.2s;
}

.cabecalho a:hover .logo {
	color: yellow;
	border: 2px solid yellow;
}

.cabecalho .menu li a {
	margin: 25px;
	font-size: 20px;
	text-transform: capitalize;
	padding: 10px 20px;
	transition: 0.2s;
}

.cabecalho .menu li a:hover {
	background-color: yellow;
	color: black;
	border-radius: 50px;
}

#botao {
    width: 15%;
    height: 30px;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: aliceblue;
    cursor: pointer;
}

#botao:hover {
	background: none;
    color: red;
    box-shadow: 0 0 15px red;
    text-shadow: 0 0 15px red;
}

.mensagem {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    position: fixed;
    left: -360px;
    transition: left 1s linear;
    z-index: 4;
}

input {
    height: 40px;
    border-radius: 3px;
    border: 1px solid grey;
    padding-left: 10px;
    outline-color: greenyellow;
}

input:hover {
	box-shadow: 0 0 15px greenyellow;
    text-shadow: 0 0 15px greenyellow;
}

textarea {
    height: 90px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid grey;
    padding: 10px;
    outline-color: greenyellow;
}

textarea:hover {
	box-shadow: 0 0 15px greenyellow;
    text-shadow: 0 0 15px greenyellow;
}

.mascara-form {
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
    z-index: 3;
}

.enviar-botao {
    height: 2rem;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: aliceblue;
    cursor: pointer;
}

.enviar-botao:hover {
    color: green;
	box-shadow: 0 0 15px greenyellow;
    text-shadow: 0 0 15px greenyellow;
}


.foto-perfil {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3%;
}

.home {
	min-height: calc(100vh - 125px);
}

.home .informacoes {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	letter-spacing: 2px;
	gap: 15px;
}

.home .informacoes h1 {
	font-family: "Raleway", sans-serif;
	font-size: 55px;
	margin-bottom: 20px;
}

.home .informacoes p {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	margin-bottom: 20px;
}

.home .redes-sociais {
	display: flex;
	gap: 20px;
}

.home .redes-sociais a i {
	border: 1px solid #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 10px;
	text-align: center;
	font-size: 26px;
	transition: 0.3s;
}

.home .redes-sociais a i:hover {
	color: yellow;
	border: 1px solid yellow;
	transform: scale(1.1);
}

#botao-s {
	background-color: yellow;
	margin: 40px;
	margin-left: 80%;
	width: 18%;
	padding: 10px;
	font-size: 25px;
	border-radius: 15px;
	border-style: solid 2px;
}

#botao-s:hover {
	background-color: white;
	color: #41d04f;
    box-shadow: 0 0 15px #41d04f;
    text-shadow: 0 0 15px #41d04f;
}

#descricao {
	display: none;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
}

.linguagem {
	text-align: center;
	font-size: 40px;
}

.projetos {
	padding: 70px 0 70px;
}

.projetos .titulo {
	text-align: center;
	padding: 60px 0;
	font-size: 45px;
	font-weight: 500;
	text-transform: uppercase;
}

.projetos .container-projetos {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	margin-bottom: 20px;
	justify-content: center;
}

.projetos .projeto {
	max-width: 260px;
	max-height: 500px;
	position: relative;
	display: none;
}

.projetos .projeto.ativo {
	display: block;
}

.projetos .projeto img {
	height: 100%;
}

.projetos .projeto h3 {
	background-color: #040203;
	width: 100%;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: absolute;
	bottom: 0;
}

.projetos .projeto .informacoes-projeto {
	background-color: #040203;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	font-weight: 600;
	opacity: 0;
	transition: 0.3s;
	padding: 20px;
}

.projetos .container-projetos .projeto:hover .informacoes-projeto {
	opacity: 0.7;
	background-color: #000;
}

.projetos .btn-mostrar-projetos {
	background: none;
	border: 1px solid #fff;
	border-radius: 15px;
	color: #fff;
	width: 180px;
	padding: 20px;
	font-size: 18px;
	font-weight: 600;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.projetos .btn-mostrar-projetos:hover {
	background-color: green;
	transition: 0.3s;
}

.projetos .btn-mostrar-projetos.remover {
	display: none;
}